.page__account {
  align-items: center;
  background: rgb(48, 119, 222);
  background: -moz-linear-gradient(
    165deg,
    rgba(48, 119, 222, 1) 22%,
    rgba(0, 29, 255, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  background: -webkit-linear-gradient(
    165deg,
    rgba(48, 119, 222, 1) 22%,
    rgba(0, 29, 255, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  background: linear-gradient(
    165deg,
    rgba(48, 119, 222, 1) 22%,
    rgba(0, 29, 255, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.form-panel {
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 10px 9px 22px -3px rgba(0, 0, 0, 0.75);
  padding: 0 45px 25px 45px;
  text-align: center;
  width: 670px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 10px 9px 22px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 22px -3px rgba(0, 0, 0, 0.75);
}

.form-panel > div > * {
  margin-top: 25px;
}

.form-panel a {
  color: #3f51b5;
  outline: none;
  text-decoration: none;
}

.form-panel h1 {
  color: #1735a1;
  font-size: 3em;
  margin: 30px 0 35px 0;
}

#g-recaptcha > div {
  margin: 0 auto;
}

.sign-up {
  width: 860px;
  height: 580px;
}

.sign-up > div {
  margin-top: 10px;
  display: inline-block;
  min-height: 405px;
  width: 50%;
}

.sign-up > div:first-of-type {
  position: relative;
  top: -50px;
  padding-right: 50px;
  border-right: 1px solid lightgray;
}

.sign-up > div:last-of-type {
  padding-left: 45px;
}

@media screen and (max-width: 720px) {
  .form-panel {
    padding: 1px 35px;
  }
}

@media screen and (max-width: 921px) {
  .form-panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .form-panel,
  .sign-up {
    border-radius: 0;
    min-height: 100vh;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .sign-up > div {
    display: block;
    width: 100%;
    padding: initial !important;
    border: none !important;
  }

  .sign-up > div:first-of-type {
    padding-top: 50px !important;
  }

  .sign-up > div:last-of-type {
    margin-top: -30px;
  }
}
